.day-container {
  display: flex;
  width: calc(100% / 7); /* Divide el ancho igualmente entre las 7 columnas */
  background-color: lightslategray;
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}

.day-column {
  flex: 1;
  text-align: center;
  width: calc(100% / 7); /* Divide el ancho igualmente entre las 7 columnas */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
  /*border-right: 1px solid white; */ /* Borde blanco a la derecha de cada columna */
  padding: 0 10px; /* Añade un espaciado alrededor del contenido de la columna */
}

.day-container h3 {
  margin: 0;
}

.day-container p {
  margin: 10px 0;
}